<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-transparent">
    <a class=" navbar-brand pl-5 " href=" ">
        <p style="color: lightgreen; text-decoration: none;">
            <span class="h2">LANA</span> ЦЕНТР
        </p>
    </a>
    <button class="navbar-toggler" type="button" (click)="isCollapsed = !isCollapsed">
    <span class="navbar-toggler-icon"></span>
  </button>
    <div class="collapse navbar-collapse" [collapse]="isCollapsed">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
                <a class="nav-link h4" style="color: lightgreen; text-decoration: none;" routerLink="/about">Главная<span class="sr-only ">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link h4" style="color: lightgreen; text-decoration: none;" routerLink="/services">Услуги</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link h4" style="color: lightgreen; text-decoration: none;" routerLink="/doctors">О Нас</a>
            </li>
        </ul>
    </div>
</nav>