<div style="height: 100px;"></div>
<div class="container bg-transparent" style="max-width:2200px;">
    <div class="row align-items-center p-4" style="text-align: center; background-color: lightgray;">
        <div class="col-lg-4">
            <img src="https://i.ibb.co/D5fCjx3/svetlana-m.jpg" style="max-width: 300px;" alt="">
        </div>
        <div class="col-lg-8" style="font-size: 24px;">
            Светлана Петровна Юрченко - основатель и руководитель Школы, мастер по развитию способнотей и скритых талантов. Магия - это универсальная система знаний, по управлению реальностью (только для избранных). Я научу правильно применять себя в Новом, Разумном
            Мире и дам техники безопасности.
        </div>
    </div>
    <div class="h1" style="float:none; clear: both;">Наши курсы:</div>
    <ul class="border">
        <li>Сознание Разумного Мира</li>
        <li>Инструкция и управление реальностью</li>
        <li>Подсознание - вход и сотрудничество с Вечностью</li>
        <li>Управление энергией мыслей</li>
        <li>Познание себя, или в чём твоя уникальность</li>
        <li>Психология отношений</li>
        <li>Психосоматика</li>
        <li>Биоэнергетика, целительство</li>
        <li>Таро раскрывает Тайны Мира</li>
        <li>Нумерология, Таронумерология</li>
        <li>Регресс, гипноз от зависимостей</li>
        <li>Древняя медицина</li>
        <li>Обрядовая магия</li>
    </ul>
    <div class="h4">Цели и задачи Школы:</div>
    <ul class="border">
        <li>Передать ученикам технологии и методы, раскрывающие их способности</li>
        <li>Цель каждого курса - раскрыть и развить способности исходя из индивидуальных способностей каждого. Для выявления способностей проводится тестирование</li>
    </ul>
    <div style="font-size: 24px;">Приглашаем присоединиться к обучению в школе и продолжить познавать себя и этот Мир с нами. Наработай силу и знания и мы пойдем вместе! Нам нужны те, кто готов учиться и ошибаться, расти из своих человеческих ползунков до магической вершины. Твоё
        знание самого себя станет несколько больше, чем твоя биография!</div>
</div>